{% extends 'main/base.html' %}

{% block title %} Clubs {% endblock %}

{% block content %}
<section class="sec clubs-sec">
  <div class="container">
    <div class="clubs">
      {% for club in clubs %}
      <div class="club">
        <div class="img"><img src="{{club.image.url}}" alt=""></div>
        <div class="info">
          <div class="name">{{club.name}}</div>
        </div>
        <div class="buttons">
          <a href="{% url 'clubs:join_club_view' club.id  %}">Request to join</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}