{% extends 'main/base.html' %}

{% block title %} Clubs {% endblock %}

{% block content %}
<section class="sec clubs-sec">
  <div class="container">
    <h2 class="section-header">Clubs</h2>
    <div class="clubs">
      {% for club in clubs %}
      <div class="club">
        <div class="img"><img src="{{club.image.url}}" alt=""></div>
        <div class="info">
          <div class="name">Club Name: {{club.name}}</div>
          <div class="leader">Leader:  {{club.leader}}</div>
          <div class="members">Members: {{club.member_count}}</div>
        </div>
        <div class="buttons">
          <a href="{% url 'clubs:club_details_view' club.id %}" class="more">More</a>
          {% if not request.user.is_staff and request.user.is_authenticated %}
          <a href="{% url 'clubs:join_club_view' club.id  %}" class="join">Request to join</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}