{% extends 'main/base.html' %}

{% block title %} Clubs {% endblock %}

{% block content %}
  <!-- {{club_details.leader}} -->
  <!-- {% if user.id == club_details.leader.id  %}  later when modify -->
  <!-- {% endif %} -->
  <section class="sec club-details-sec clubs-sec table-style">
    <div class="container">
      <section class="all-info">
        <div class="club">
          <div class="img"><img src="{{club_details.image.url}}" alt=""></div>
          <div class="info">
            <div class="name">{{club_details.name}} Club</div>
            <p class="description">Club Description: {{club_details.description}}</p>
            <div class="leader"><i class="fa-solid fa-user"></i><span>{{club_details.leader}}</span></div>
          </div>
          <div class="buttons">
            {% if not request.user.is_staff and request.user.is_authenticated %}
            <a href="{% url 'clubs:join_club_view' club_details.id  %}" class="join">Request to join</a>
            {% endif %}
              {% if user.id == club_details.leader.id  %}  
              <a href="{% url 'clubs:modify_club_view' club_details.id  %}" class="modify">Modify</a>
              {% endif %}
          </div>
        </div>
      </section>
      <section class="sec members-sec">
        <div class="container">
          <h2 class="section-header">Members</h2>
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                {% for member in members_of_club %}
                <tr>
                  <td>{{member.first_name}}</td>
                  <td>{{member.last_name}}</td>
                  <td>{{member.email}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </section>
      {% if private_events %}
      <section class="sec events-sec">
        <div class="container">
          <h2 class="section-header">Events</h2>
          
          <div class="events">
            {% for private_event in private_events %}
            <div class="event">
              <div class="img">
                <img src="{{private_event.image.url}}" alt="">
              </div>
              <div class="info">
                <h3>{{private_event.title}}</h3>
                <p>{{private_event.description}}</p>
                <div class="date"><i class="fa-solid fa-calendar-days"></i> <span>{{private_event.date}}</span></div>
              </div>
              <!-- {{private_event.title}}
              <br>
              {{private_event.description}}
              <br>
              {{private_event.date}} -->
            </div>
            {% endfor %}
          </div>
          
        </div>
      </section>
      {% endif %}
    </div>
  </section>
{% endblock %}