* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: "Outfit", sans-serif;

}
a {
  text-decoration: none;
}
/* Base HTML */
/* Header */
header {

}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .web-name {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .container nav .links {
  display: flex;

  gap: 10px;
}  
header .container nav .links a {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}  
header .container .user {
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Forms */
.form {
  /* min-height: calc(100vh - 72px); */
  margin-top: 60px;
}
.form .container {
  /* transform: translateY(50%); */
}
.form .section-header {
  margin-bottom: 30px;
}
.form form  {
  display: flex;
  flex-direction: column;
  gap: 30px;

}
.form form div {
  

}
.form form div label {
  display: block;
  margin-bottom: 5px;
}
.form form div input,
.form form  input[type="submit"],
.form form div select,
.form form div textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
  outline: none;
  resize: none;
}
.form form  input[type="submit"] {
  cursor: pointer;
}
.login-form {

}
/* Clubs App*/
/* All Clubs */
.sec {
  margin-top: 50px;
}
.clubs-sec .section-header {
  margin-bottom: 50px;
}
.clubs-sec .clubs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 40px;
}
.clubs-sec .clubs .club {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); 
}
.clubs-sec .clubs .club img {
  width: 100%;
}
.clubs-sec .clubs .club .info {
  padding: 30px 0 20px;
}
.clubs-sec .clubs .club .buttons {
  display: flex;
  justify-content: space-between;
}
.clubs-sec .clubs .club .buttons a {
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 6px;
  color: black;
}
/* Club details */
.club-details-sec .all-info .club {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); 

}
.club-details-sec .all-info .club .img {
  text-align: center;
}
.club-details-sec .all-info .club img {
  width: 300px;
}

.table-style .table-container  {
  display: flex;
  align-items: center;
  overflow: auto;
}
.table-style .table-container form {
  width: 100%;

}

.table-style table {
  min-width: 700px;
  width: 100%;
  border-spacing: 0px;
}
.table-style table th ,
.table-style table td {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
}
.table-style table tr:last-of-type td {
  border-bottom: 1px solid black;

}
.table-style table tr th:last-child,
.table-style table tr td:last-child {
  border-right: 1px solid black;

}