{% extends 'main/base.html' %}

{% block title %} Manage Users {% endblock %}

{% block content %}

<section class="sec manage-sec table-style {% if request.COOKIES.mode == 'dark' %} dark {% endif %}">
    <div class="container">
        <h2 class="section-header">Manage Users</h2>
        <form method="post" action="{% url 'users:manage_users_view' %}">
            {% csrf_token %}
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Fisrt Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Is Leader</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <div class="checkbox-wrapper-10">
                                    <input class="tgl tgl-flip" id="cb{{ user.id }}" type="checkbox" name="user_ids"
                                        value="{{ user.id }}" {% if user.is_staff %}checked{% endif %} />
                                    <label class="tgl-btn" data-tg-off="Nope" data-tg-on="Yes"
                                        for="cb{{ user.id }}"></label>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <input type="submit">
        </form>
    </div>
</section>


{% endblock %}