{% extends  'main/base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<section class="form register-form {% if request.COOKIES.mode == 'dark' %} dark {% endif %}">
  <div class="container">
    <h2 class="section-header">Register</h2>
    <form action="{% url 'users:register_page_view' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="">Username</label>
        <input type="text" name="username" placeholder="Username" required>
      </div>
      <div>
        <label for="">First Name</label>
        <input type="text" name="first_name" placeholder="Enter your first name" required>
      </div>
      <div>
        <label for="">Last Name</label>
        <input type="text" name="last_name" placeholder="Enter your last name" required>
      </div>
      <div>
        <label for="">Email</label>
        <input type="email" name="email" placeholder="Enter your email address" required>
      </div>
      <div>
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Enter your password" required minlength="8">
      </div>
      <input type="submit" value="Register">
    </form>
  </div>
</section>
{% endblock %}