{% extends 'main/base.html' %}

{% block title %} Events {% endblock %}

{% block content %}
<section class="sec clubs-sec {% if request.COOKIES.mode == 'dark' %} dark {% endif %}">
  <div class="container">
    <h2 class="section-header">Events</h2>
    <div class="clubs">
      {% for event in events %}
      <div class="club">
        <div class="img"><img src="{{event.image.url}}" alt=""></div>
        <div class="info">
          <div class="name">{{event.title}}</div>
          <div class="description">{{event.description}}</div>
          <div class="date"><i class="fa-solid fa-calendar-days"></i> {{event.date}}</div>
          <div class="attendance">Particapance: <span>{{event.attendance_count}}</span></div>
        </div>
        <div class="buttons">
          <a href="{% url 'events:event_attend_interested_view' event.id request.user.id  'ATTENDING' %}">Attending</a>
          <a href="{% url 'events:event_attend_interested_view' event.id request.user.id  'INTERESTED' %}">Interested</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}